body {
  background: black;
}

#cronometro {
  font-family: 'Courier New';
  font-weight: bold;
  letter-spacing: -10px;
  font-size:90px;
  background: #778DA9;
  color: white;
  border-radius: 20px;
  text-align: center;
}

#controles {
  position: fixed;
  text-align: center;
  margin-top: 10px;
  color: white;
}

